@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <div><input type="number" name="left" /></div>
    <div><input type="number" name="right" /></div>
    <div>
        <input type="submit" value="+" />
        <input type="submit" value="-" />
        <input type="submit" value="x" />
        <input type="submit" value="/" />
    </div>
</form>

@if (ViewData["result"] != null)
{
    <output id="result">@ViewData["result"]</output>
}

@if (ViewData["result1"] != null)
{
    <output id="result1">@ViewData["result1"]</output>
}

@if (ViewData["result2"] != null)
{
    <output id="result2">@ViewData["result2"]</output>
}

@if (ViewData["result3"] != null)
{
    <output id="result3">@ViewData["result3"]</output>
}
